{
  username = "your-username";
  email = "your-email@example.com";
  name = "Your Full Name";
  gitKey = "YOUR_GPG_KEY_ID";
  sshHost = "YOUR_SSH_HOST_IP_OR_DOMAIN";
  dotfilesDir = "/home/your-username/path/to/config";
  geminiProject = "YOUR_GEMINI_PROJECT_ID";
  cloudCodeProject = "YOUR_CLOUD_CODE_PROJECT_ID";
}
